# Environment variables for the Templated Resume App
## Customize the title and resume URL as needed
VITE_APP_TITLE="My Online Resume"
VITE_RESUME_URL="/cvdata.example.json"
## Toggle visibility of phone information and buttons
VITE_CONFIG_SHOW_CELLPHONE=false
VITE_CONFIG_SHOW_BTNDOC=false
VITE_CONFIG_SHOW_BTNPDF=false
VITE_CONFIG_SHOW_BTNEMAIL=false
VITE_GITHUB_HOSTED_URL="https://github.com/epalomeque/templated_online_cv"
## Theme: 'simple' or 'bootstrap'
VITE_APP_THEME=bootstrap