* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
}

body {
  min-height: 100%;
  background: #eee;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: #222;
  font-size: 14px;
  line-height: 26px;
  padding-bottom: 50px;
}

.container {
  max-width: 700px;
  background: #fff;
  margin: 0 auto 0;
  box-shadow: 1px 1px 2px #DAD7D7;
  border-radius: 3px;
  padding: 40px;
  margin-top: 20px;
}

.header {
  margin-bottom: 30px;

  .full-name {
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 15px;
  }

  .first-name {
    font-weight: 700;
  }

  .last-name {
    font-weight: 300;
  }

  .contact-info {
    margin-bottom: 5px;
  }

  .social-media-info {
    display: flex;
    justify-content: space-around;
    margin-bottom: 15px;
  }

  .email ,
  .phone {
    color: #999;
    font-weight: 300;
  }

  .separator {
    height: 10px;
    display: inline-block;
    border-left: 2px solid #999;
    margin: 0 10px;
  }

  .position {
    font-weight: bold;
    display: inline-block;
    margin-right: 10px;
    text-decoration: underline;
  }
}


.details {
  line-height: 20px;

  .section, .section__language {
    margin-bottom: 40px;
  }

  .section:last-of-type {
    margin-bottom: 0;
  }

  .section__title {
    letter-spacing: 2px;
    color: #54AFE4;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
  }

  .section__language .section__list {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
  }

  .section__language .section__list .section__list-item {
    margin-bottom: auto;
  }

  .section__list-item {
    margin-bottom: 40px;
  }

  .section__list-item:last-of-type {
    margin-bottom: 0;
  }

  .left ,
  .right {
    vertical-align: top;
    display: inline-block;
  }

  .left {
    width: 60%;
  }

  .right {
    text-align: right;
    width: 39%;
  }

  div.section.section__experience>.section__list>.section__list-item{
    display: flex;
    flex-direction: column;
    .left, .right {
      width: 100%;
      display: flex;
      flex-direction: row;
    }
    .left {justify-content: space-around;}
    .right {flex-direction: column; text-align: justify}
  }

  .name {
    font-weight: bold;
  }

  a {
    text-decoration: none;
    color: #000;
    font-style: italic;
  }

  a:hover {
    text-decoration: underline;
    color: #000;
  }

  .skills {

  }

  .skills__item {
    margin-bottom: 10px;
  }

  .skills__item .right {
    input {
      display: none;
    }

    label {
      display: inline-block;
      width: 15px;
      height: 15px;
      background: #C3DEF3;
      border-radius: 20px;
      margin-right: 3px;
    }

    input:checked + label {
      background: #79A9CE;
    }
  }
}








